<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_food_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>food_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{112,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{112,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,124},{118,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{126,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{120,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,124},{120,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{120,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,114},{94,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{94,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,130},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{100,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>garbage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{124,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,87}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>garbage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>food.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af197bc9ebd1112bb486483df128916$</string>
            <key>textureFileName</key>
            <string>food.png</string>
        </dict>
    </dict>
</plist>
