<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_food_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,240},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,198},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,118},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bag_food_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>food_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{114,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{114,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,320},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{120,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{124,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{124,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{122,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{122,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,414},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{94,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>food_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,96},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{100,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>food.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f245cd04694986b2c15ed8284785e47e$</string>
            <key>textureFileName</key>
            <string>food.png</string>
        </dict>
    </dict>
</plist>
