<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bag_food_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,513},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>bag_food_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,876},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>bag_food_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,392},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>bag_food_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,634},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>bag_food_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,392},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>bag_food_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,513},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>bag_food_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>food_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,726},{114,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,17},{114,95}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>food_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,634},{119,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,19},{119,91}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>food_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{127,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,16},{127,96}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>food_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{124,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,19},{124,91}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>food_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,277},{121,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{121,114}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>food_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,277},{94,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,11},{94,106}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>food_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,97},{100,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,3},{100,122}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>garbage_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,97},{124,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,87}}</string>
				<key>sourceSize</key>
				<string>{124,87}</string>
			</dict>

			<key>garbage_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,822},{114,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,110}}</string>
				<key>sourceSize</key>
				<string>{114,110}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,1024}</string>
			<key>textureFileName</key>
			<string>food.png</string>
			</dict>
		</dict>
</plist>