<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{27,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,57}}</string>
                <key>sourceSize</key>
                <string>{27,57}</string>
            </dict>
            <key>mission_again_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,60},{212,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,56}}</string>
                <key>sourceSize</key>
                <string>{212,56}</string>
            </dict>
            <key>mission_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,591}}</string>
                <key>sourceSize</key>
                <string>{602,591}</string>
            </dict>
            <key>mission_star_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{212,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,56}}</string>
                <key>sourceSize</key>
                <string>{212,56}</string>
            </dict>
            <key>plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{162,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,163}}</string>
                <key>sourceSize</key>
                <string>{162,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mission.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:451809bdad749ff42dfc298c36642c58$</string>
            <key>textureFileName</key>
            <string>mission.png</string>
        </dict>
    </dict>
</plist>
