<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>answer_false.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>answer_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,909},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>be_get_lingh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{481,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,258}}</string>
                <key>sourceSize</key>
                <string>{481,258}</string>
            </dict>
            <key>bg_answer_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{645,772}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,772}}</string>
                <key>sourceSize</key>
                <string>{645,772}</string>
            </dict>
            <key>btn_answer_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,967},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>btn_be_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,60},{212,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,56}}</string>
                <key>sourceSize</key>
                <string>{212,56}</string>
            </dict>
            <key>btn_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,845},{413,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,78}}</string>
                <key>sourceSize</key>
                <string>{413,78}</string>
            </dict>
            <key>btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{212,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,56}}</string>
                <key>sourceSize</key>
                <string>{212,56}</string>
            </dict>
            <key>btn_un_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,682},{413,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,78}}</string>
                <key>sourceSize</key>
                <string>{413,78}</string>
            </dict>
            <key>food_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,118},{147,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,206}}</string>
                <key>sourceSize</key>
                <string>{147,206}</string>
            </dict>
            <key>food_shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,649},{194,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,271}}</string>
                <key>sourceSize</key>
                <string>{194,271}</string>
            </dict>
            <key>food_shop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,682},{119,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,179}}</string>
                <key>sourceSize</key>
                <string>{119,179}</string>
            </dict>
            <key>food_shop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,409},{194,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,271}}</string>
                <key>sourceSize</key>
                <string>{194,271}</string>
            </dict>
            <key>food_shop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,267},{140,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,196}}</string>
                <key>sourceSize</key>
                <string>{140,196}</string>
            </dict>
            <key>un_get_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{348,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,56}}</string>
                <key>sourceSize</key>
                <string>{348,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>old_town.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e21b2d5b186ae1dac88e51778cdb20fd$</string>
            <key>textureFileName</key>
            <string>old_town.png</string>
        </dict>
    </dict>
</plist>
