<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{84,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,174}}</string>
                <key>sourceSize</key>
                <string>{84,174}</string>
            </dict>
            <key>be_to_pray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,310}}</string>
                <key>sourceSize</key>
                <string>{181,310}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{81,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{81,84}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>positive_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,314},{78,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,168}}</string>
                <key>sourceSize</key>
                <string>{78,168}</string>
            </dict>
            <key>throw_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,314},{82,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,151}}</string>
                <key>sourceSize</key>
                <string>{82,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wen_temple.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a7c97c5e95d91b1b8979904b5905d88$</string>
            <key>textureFileName</key>
            <string>wen_temple.png</string>
        </dict>
    </dict>
</plist>
